@use "../utils/" as *;

// GENERAL
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  width: clamp(16rem, 80vw, 110rem);
  padding: clamp(1.5rem, 7vw + 1rem, 3.5rem) 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

// SECTIONS
section {
  margin-block: 3.5rem;
}
