@use "./colors";
// @use "~sass-rem" as rem;
@use "../utils/" as *;
@use "./fonts";

h1,
h2,
h3,
h4 {
  font-family: var(--font-titles);
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}

// FONT SIZES
h1 {
  font-size: clamp(1.75rem, 5vw + 1rem, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 5vw + 1rem, 3rem);
  color: var(--veryDarkGray);
  text-align: center;
}

h3 {
  line-height: 1.1;
  font-size: clamp(1.25rem, 1vw + 1rem, 2.5rem);
  color: var(--white);
}

p {
  // text-align: center;
  margin-top: 2rem;
}

.text-white {
  color: var(--white);
}
